* {
    margin: 0;
    padding: 0;
}

header {
 width: 100%;
 background-color: rgba(100,100,100,0.8);
 margin: 0;
 padding: 10px 20px;
 box-sizing: border-box;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(100,100,100,0.8);
    margin: 0;
    padding: 10px 20px;
    box-sizing: border-box;
}